#teacher-fields {
  display: flex;
  width: 100%;
  justify-content: space-between;

  #teacher-initials {
    width: 10%;
  }
  #teacher-name,
  #teacher-firstname {
    width: 15%;
  }

  #teacher-email,
  #teacher-link {
    width: 25%;
  }
}

.content {
  flex-direction: column;
  align-content: space-between;
  height: 80%;
}

#salle {
  #autre-salle {
    width: 40%;
  }
}

#parameters {
  width: 30%;
}
